@import "variable/*"
@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 400px 600px 780px 960px 1300px
rupture.scale-names = 'xs' 'sm' 'm' 'l' 'xl' 'hd'
jeet.gutter = 1

wraper
	center(1200px)
	padding 20px
html, body
	height: 100%
body
	font-family 'Noto Sans'
	color textcolor
a
	text-decoration none
input
	outline:none

.hidden
	visibility hidden
.visible
	visibility visible

.section-view
	min-width: 100%;
	min-height: 100vh;
	position: relative;
.main-cont
	min-width 1280px
	position relative
.top-menu
	height 80px
	background maingreen
	flex(between)
	padding 0 30px
	position fixed
	width 100%
	top 0
	z-index 4000
	min-width 1280px
.top-menu-logo
	width 0
	margin-right 60px


.top-menu-el
	color white
	font-family "Noto Sans"
	font-size 19px
	font-weight bold
	line-height 24px
	margin-right 100px
	position relative
	&:hover
		text-decoration underline
	&:after
		content ''
		position absolute
		width 1px
		height 15px
		background white
		right -50px
		top 7px
	&:last-child
		&:after
			content ''
			width 0

.top-menu-left
	flex(mid)
	justify-content flex-start
.top-menu-right
	flex(mid)
	justify-content flex-end
.top-menu-right-img
	margin-right 30px
.top-menu-right-number
	color white
	font-family "Noto Sans"
	font-size 19px
	font-weight 700
	line-height 24px
	
.section-main
	width 100%
	height 100vh
	bgi('bg-section-main.jpg')
	background-size cover
	background-position center top
	
	
.section-main
	padding-top 80px
	flex(mid)
	flex-flow column
	justify-content flex-start
.section-main-logo
	margin-top 25px
	margin-bottom 25px
.section-main-title
	flex(mid)
	margin-bottom 20px
.section-main-title-black
	font-family "Noto Sans"
	font-size 30px
	font-weight 700
	line-height 24px
	color #293437
.section-main-title-number
	margin 0 15px
	span.section-main-title-number-el
		width 42px
		height 60px
		display inline-block
		color #333
		font-size 47px
		font-weight 700
		line-height 35px
		text-align center
		margin-right 5px
		position relative
		z-index 10
		bgi('number-user.png')
		text-align center
		line-height 45px
		position relative
		&:after
			content ''
			height 2px
			width 100%
			background #D8D8D8
			top 40%
			position absolute
			left 0
			
			
.section-main-title-whtie
	color white
	font-family "Noto Sans"
	font-size 30px
	font-weight 700
	line-height 24px
.section-main-video
	border-radius 20px
	width 45%
	height 45%
	border 10px solid white
	border-radius 40px
	margin-bottom 50px
	position relative
	overflow hidden
	z-index 2000
	img
		position absolute
		top 50%
		left 50%
		margin-top -71px
		margin-left -71px
		z-index 20
		&:hover
			cursor pointer

.section-main-video-filter
	opacity 0.8
	background-color black
	border-radius 20px
	width 45%
	height 45%
	background-color #000
	position absolute
	width 100%
	height 100%
	z-index 10
.section-main-form
	margin-bottom 50px
	input
		background none
		border 0px
		min-width 300px
		padding 10px
		border 1px solid white!important
		border-radius 5px
		outline none
		color white
	button
		margin-top 15px
		background yellow
		border 0px
		size 300px 45px
		background-color #fecc00
		border-radius 5px
		color #293437
		font-family "Noto Sans"
		font-size 18px
		font-weight 700
		line-height 24px
		tr(all)
		&:hover
			background maingreen
			color white

input[placeholder]
	text-overflow:ellipsis
	font-family "Noto Sans"
	font-size 14px
	font-style italic
	line-height 24px
input::-moz-placeholder
	text-overflow:ellipsis
	font-family "Noto Sans"
	font-size 14px
	font-style italic
	line-height 24px 
input:-moz-placeholder
	text-overflow:ellipsis
	font-family "Noto Sans"
	font-size 14px
	font-style italic
	line-height 24px 
input:-ms-input-placeholder 
	text-overflow:ellipsis
	font-family "Noto Sans"
	font-size 14px
	font-style italic
	line-height 24px
input:-moz-placeholder
	color white
input::-webkit-input-placeholder
	color white
.section-main-form-title
	text-shadow 2px 3.5px 2px rgba(0, 0, 0, 0.42)
	color white
	font-family "Noto Sans"
	font-size 22px
	font-weight 700
	line-height 24px
	margin-bottom 15px

.section-main-sale-but
	background-color #fecc00
	border-radius 10px
	padding 15px 60px
	color textcolor
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 24px
	display inline-block
	position absolute
	top 110px
	right 30px

.introVideo
	position absolute
	width 100%
	height 100%
	z-index 5

.section-main-form-rule
	margin-top 15px
	text
		color white
		font-family "Noto Sans"
		font-size 14px
		font-weight 400
		line-height 24px
		a
			color white
			text-decoration underline

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    bgi('Check-box.png')
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    bgi('Check-box-ckeck.png')
}

.left-nav
	height 415px
	width 70px
	background bg-grey
	position fixed
	top 22%
	overflow hidden
	z-index 10000
	tr(all)
	&:hover
		width 380px
.left-nav-el
	flex(between)
	justify-content flex-start
	padding-right 20px
	overflow hidden
	min-width 380px
	tr(all)
	&:hover
		background maingreen
		cursor pointer
.left-nav-el-img
	width 70px
	height 70px
	flex(mid)
.left-nav-el-text
	color white
	font-family "Noto Sans"
	font-size 19px
	font-weight 400
	line-height 24px

.left-nav-el-active
	background maingreen
	
.section-adv
	height 100vh
	width 100%
	position relative
	
//.section-adv
.section-adv-el
	span(1/5)
	position relative
	min-height 100%
	padding 25px
	background-size cover!important
	position relative
	&:hover
		img
			-webkit-filter none
			filter none
			filter none
			filter none
.section-adv-el-title
	margin-top 145px
	flex(between)
	height 130px
.section-adv-el-title-text
	color #293437
	font-family "Noto Sans"
	font-size 24px
	font-weight 700
	line-height 30px
	width 70%
	+below(1600px)
			font-size 18px
	+below(1400px)
		font-size 16px
//.section-adv-el-title-icon
.section-adv-el-text
	margin-bottom 40px
	p
		font-family "Noto Sans"
		font-size 14px
		font-weight 400
		line-height 24px
		+below(1600px)
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		+below(1500px)
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
		
.section-adv-el-img
	img
		width 100%
		position absolute
		left 0px
		top 0
		-webkit-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
		filter: url(/img/desaturate.svg#dark);
		
.section-adv-el-but
	width 60%
	display inline-block
	tr(all)
	&:hover
		background maingreen
		color white

.section-adv-el-content
	position relative
	
.section-adv-el-footer
	position absolute
	bottom 40px
	margin-left -25px
	width 100%
	flex mid
	a
		width 80%
		display inline-block
		background #FFC730
		border-radius 7px
		color textcolor
		font-family "Noto Sans"
		font-size 20px
		font-weight 700
		line-height 19px
		text-align center
		padding 15px 0
		+below(1400px)
			font-size 16px

.section-top-title
	position absolute
	z-index 200
	font-family "Noto Sans"
	font-size 48px
	font-weight 700
	line-height 24px
	left 65px
	top 120px
	+below(1400px)
		font-size 36px
		
.section-about
	width 100%
	height 100vh
	bgi('bg-section-about.jpg')
	position relative
	.section-top-title
		top 130px
		
.section-about-number
	span.section-main-title-number-el
		width 42px
		height 60px
		display inline-block
		color #333
		font-size 47px
		font-weight 700
		line-height 35px
		text-align center
		margin-right 5px
		position relative
		z-index 10
		bgi('number-user.png')
		text-align center
		line-height 45px
		position relative
		&:after
			content ''
			height 2px
			width 100%
			background #D8D8D8
			top 40%
			position absolute
			left 0
			
.section-about
	padding-top 100px
	background-size: cover;
//.section-top-title
.section-about-users
	flex(mid)
.section-about-users-left
	margin-right 45px
.section-about-users-rigth
	flex(mid)
	flex-flow column
	align-items flex-start
//.section-about-number
.section-about-users-rigth-text
	font-family "Noto Sans"
	font-size 48px
	font-weight 700
	line-height 60px
	
.section-about-slider
	background maingreen
	margin-top 75px
	padding 5% 0px
	opacity .9
	
.section-about-slider-wrap
	flex(around)

.section-about-slider-el
	width 15%
	flex(mid)
	flex-flow column
.section-about-slider-el-numb
	color white
	font-family "Noto Sans"
	font-size 72px
	font-weight 700
	line-height 48px
	margin 20px 0
	+below(1800px)
		font-size 62px
		line-height 26px;
	+below(1500px)
		font-size 54px
	+below(1400px)
		font-size 46px
.section-about-slider-el-text
	color white
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	text-align center
	line-height 36px
	+below(1800px)
		line-height 26px;
.owl-prev,
.owl-next
	position absolute
	top 50%
	margin-top -37px
.owl-prev
	left 5%
.owl-next
	right 5%

.owl-dots
	position absolute
	bottom: 5%;
	left 50%
	flex(mid)
	.active
		background white
	margin-left -50px
.owl-dot
	width 16px
	height 16px
	border-radius 50%
	border 2px solid white
	margin-right 10px
	
.section-top-footerText 
	text-shadow 2px 3.5px 2px rgba(0, 0, 0, 0.42)
	color white
	font-size 28px
	font-weight 700
	line-height 21px
	position absolute
	bottom 75px
	left 75px
	
.section-final
	height 100vh
	width 100%
	bgi('bg-section-final.jpg')
	background-size: cover;

.section-final
	position relative
	padding-top 160px
	
.section-final-sloganFirst
	padding-left 10%
	div
		&:nth-child(1)
			font-size 60px
			font-weight 700
			line-height 60px
		
		&:nth-child(2)
			font-size 48px
			font-weight 400

.section-final-sloganSecond
	padding-left 10%
	margin-top 80px
	div
		&:nth-child(1)
			color #f22323
			font-family "Noto Sans"
			font-size 72px
			font-weight 700
			line-height 60px
			text-transform uppercase
		
		&:nth-child(2)
			color #293437
			font-family "Noto Sans"
			font-size 48px
			font-weight 700
			line-height 48px

.section-final-footer
	flex(between)
	padding 0 30px
	background black
	opacity .6
	position absolute
	width 100%
	bottom 0
	height 70px
	left 0
.section-final-footer-left
	color #aeaaaa
	font-family "Noto Sans"
	font-size 14px
	font-weight 700
	line-height 24px
//.section-final-footer-right

.section-final-form-wrap
	width 100%
	flex(mid)
	margin-top 100px
	
.section-time
	width 100%
	height 100vh
	bgi('bg-section-service.jpg')
	background-size cover
	background-position: center top
	padding-top 140px
	position relative
	color black
.section-time-topTitle
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 24px
	position absolute
	top 90px
	right 30px
.section-time-mainTitle
	color white
	font-family "Noto Sans"
	font-size 42px
	font-weight 700
	line-height 24px
	text-align center
	margin-bottom: 40px
.section-time-text
	width 80%
	padding 10px
	background maingreen
	color white
	font-size 18px
	text-align center
	+below(1400px)
		font-size 12px
	span 
		font-size 24px
	margin 0 auto
.section-time-elWraper
	margin-top 55px
	flex(mid)
	padding 0 5%
	align-items: flex-start;
.section-time-el
	flex(mid)
	flex-flow column
	span(1/7)
.section-time-el-img
	margin-bottom 20px
	width 25%
	img
		width 100%
	
.section-time-el-text
	color white
	font-family "Noto Sans"
	font-size 14px
	font-weight 700
	line-height 22px
	text-align center
	width 85%
	+below(1600px)
		font-size 12px
		font-weight 400
		line-height 20px
	
.section-time-form-wrap
	width 100%
	flex(mid)
	margin-top 50px 
	+below(1600px)
		margin-top 20px
.section-time-quote
	position absolute
	left 80px
	bottom 2%
	width 290px
.section-time-quote-wrap
	position relative
	&:before
		content ''
		position absolute
		width 41px
		height 32px
		bgi('quotes.png')
		left -60px
.section-time-quote-top
	color white
	font-family "Noto Sans"
	font-size 18px
	font-style italic
	line-height 24px
	
.section-time-quote-bottom
	flex(between)
	align-items flex-end
.section-time-quote-bottom-link
	color #363636
	font-family "Noto Sans"
	font-size 14px
	font-weight 400
	line-height 24px
	text-decoration underline
	padding-top 5px
	&:hover
		cursor pointer
.section-time-quote-bottom-name
	text-shadow 0.5px 0.9px 2px white
	color #22af75
	font-family "Noto Sans"
	font-size 24px
	font-weight 700
	line-height 24px
.section-time-quote-tooltip
	width 1080px
	padding 15px
	background black
	opacity 0.8
	border-radius 10px
	position relative
	margin-top 10px
	&:before
		content ''
		triangle:'up' 10px black
		position absolute
		top -10px
		left 40px
	p
		color white
		font-family "Noto Sans"
		font-size 12px
		font-style italic
		line-height 16px
		margin 0
		margin 5px 0px

.section-lider
	bgi('bg-section-subscribe.jpg')
	background-size cover
	background-position: top center 
	width 100%
	position relative
	flex(mid)
	flex-flow column
.section-lider-topQuote
	+below(1600px)
		top 8%
	left: 50%;
	top: 12%;
	margin-left: -80px;
.section-lider-Quote
	position absolute
	width 180px
.section-lider-leftQuote
	top 25%
	left 10%
	span
		font-size 14px
		font-weight 400
		line-height 16px
		display inline-block
.section-lider-rightQuote
	top 25%
	right 10%
.section-lider-title
	+below(1600px)
		font-size 30px
		margin-top 0
	text-shadow 2px 3.5px 2px rgba(0, 0, 0, 0.42)
	color white
	font-family "Noto Sans"
	font-size 48px
	font-weight 700
	line-height 24px
	margin-top 10%
//.section-lider-toolTip
.section-lider-Quote-title
	color white
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 24px
.section-lider-Quote-text
	text-shadow 2px 3.5px 2px rgba(0, 0, 0, 0.42)
	color white
	font-family "Noto Sans"
	font-size 14px
	font-weight 400
	line-height 18px
	margin 10px 0
.section-lider-Quote-but
	text-align center
	width 100%
	background #FFC730
	color #293437
	font-family "Noto Sans"
	font-size 16px
	font-weight 700
	line-height 18px
	display inline-block
	padding 10px
	border-radius 7px
	tr(all)
	&:hover
		background maingreen
		color white
		

.section-lider-form-wrap
	width 100%
	flex(mid)
	margin-top 100px
	+below(1600px)
		margin-top 25px
	
.section-lider-toolTip
	background-color rgba(0, 0, 0, 0.52)
	border 2px solid white
	border-radius 20px
	width 660px
	position absolute
	bottom 30px
	left 30px
	padding 20px 40px
.section-lider-toolTip-title
	color white
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 24px
	text-align center
.section-lider-toolTip-text
	color white
	font-family "Noto Sans"
	font-size 14px
	font-weight 400
	line-height 18px
	text-align center
	margin 20px 0
.section-lider-toolTip-link
	color #2baa76
	font-family "Noto Sans"
	font-size 14px
	font-weight 400
	line-height 24px
	text-decoration underline
	text-align center
	display inline-block
	width 100%
	

.section-clients
	bgi('bg-section-clients.jpg')
	background-size cover
	background-position: center top
	padding-top 130px
//.section-view
.section-clients-title
	+below(1400px)
		margin-bottom 30px
	font-family "Noto Sans"
	font-size 48px
	font-weight 700
	line-height 24px
	margin-bottom 50px
	margin-left 50px
.section-clients-el-wrap
	display flex
	display inline-flex
	width 100%
	
.section-clients-el
	+below(1400px)
		.section-clients-el-bot
			font-size 12px!important
			height 100px
		.section-clients-el-top
			height 300px
	tr(all)
	width 20%
	&:nth-child(1)
		.section-clients-el-bot,
		.section-clients-el-top-text
			width 100%
			padding-left 75px !important
	&:hover
		cursor pointer
		img
			-webkit-filter brightness(50%);
			filter: brightness(50%); 
		.section-clients-el-bot
			background white
			color black
		.section-clients-el-top-text
			display block
			
.section-clients-el-top
	max-height 400px
	overflow hidden
	position relative
	img
		width 100%
		-webkit-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
		filter: url(/img/desaturate.svg#css_dark);
	
.section-clients-el-bot
	
	background maingreen
	color white
	font-family "Noto Sans"
	font-size 14px
	font-weight 700
	line-height 22px
	padding 10px
	height 80px

.section-clients-el-top-text
	+below(1500px)
		width 100%
	position absolute
	top 30px
	left 5px
	color white
	font-family "Noto Sans"
	font-size 14px
	font-weight 700
	line-height 24px
	width 70%
	z-index 2000
	display none
	li
		margin-bottom 10px
		+below(1500px)
			margin-bottom 10px
			line-height 22px
		
.section-clients-form-wrap
	width 100%
	flex(mid)
	margin-top 40px
	+below(1600px)
		margin-top 25px
		
.section-tarifs
	position relative
	bgi('bg-section-tarif.jpg')
	background-size cover
	background-position: center top
	padding-top 100px
	flex(mid)
	.owl-dots
		bottom -10%
.section-tarifs-title
	font-family "Noto Sans"
	font-size 48px
	font-weight 700
	line-height 24px
	margin-left 75px
	position absolute
.section-tarifs-slider
	flex(mid)
.section-tarifs-slider-row
	width 100%
	display: flex;
	justify-content: center;

.section-tarifs-slider
	.owl-dots
		+below(1400px)
			bottom 0
//.section-tarifs-slider-row
.section-tarifs-slider-el
	margin 0 1%
	box-shadow 0 0 7px rgba(0, 0, 0, 0.35)
	width 18%
.section-tarifs-slider-title
	height 100px
	padding-left 30px
	background white
	flex(mid)
	justify-content flex-start
	font-size 18px
	font-weight 700
	line-height 24px
.section-tarifs-slider-cont
	padding 30px
	background-color #293437

	text
		+below(1600px)
			font-size 12px
		+below(1400px)
			font-size 10px
		color white
		font-family "Noto Sans"
		font-size 16px
		font-weight 700
		line-height 24px
.section-tarifs-slider-check
	margin-top 50px
.section-tarifs-slider-but
	width 100%
	background-color #ffc730
	border-radius 5px
	height 45px
	display inline-block
	color #293437
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 42px
	text-align center
	tr(all)
	&:hover
		background maingreen
		color white
.section-tarifs-slider-price
	margin 50px 0
	font-size 16px
	font-weight 400
	color white
	text-align center
	+below(1400px)
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		
	span
		font-size 30px
		font-weight 700
		margin 0 10px
.section-tarifs-select
	margin 30px 0
	select 
		width 100%
		
.section-tarifs-slider-title-envers
	height 100px
	padding-left 30px
	background white
	flex(mid)
	justify-content flex-start
	font-size 18px
	font-weight 700
	line-height 24px
	background-color #293437
	color white

.section-tarifs-slider-el-enverse
	background white
	img
		width auto !important
	.section-tarifs-slider-cont
		background white
		flex(mid)
		flex-flow column
	
.section-tarifs-slider-cont-enverse-arrow
	margin 60px 0
	
.section-tarifs-slider-cont-small
	+below(1400px)
		font-size 11px
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 24px
	color black
	
.section-tarifs-slider-cont-big
	font-weight 700
	line-height 30px
	font-size 24px
	text-transform uppercase
	color black
	margin-bottom 70px

.section-tarifs-greenRow
	width 100%
	height 300px
	position absolute
	top 50%
	margin-top -70px
	background maingreen
	opacity: .8;
	
.section-tarifs-sale-but
	background-color #fecc00
	border-radius 10px
	padding 15px 60px
	color textcolor
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 24px
	display inline-block
	position absolute
	right 30px
	
.section-tarifs-select
	.dropdown
		width 100%
		background none
		border 1px solid white
		ul
			margin 0
			padding 0
		li 
			font-weight 600
.dropdown .selected::after
	//box-shadow 0 0 0
.section-tarifs-list
	li
		color white
		font-family "Noto Sans"
		font-size 16px
		font-weight 700
		line-height 24px
		margin-bottom 15px
		+below(1600px)
			font-size 12px
	padding-left 20px
	margin 0
		
.section-modal-wraper
	padding 60px
	border-radius 20px
	box-shadow 0 0 20px rgba(2, 2, 2, 0.3)
	background white
	flex(mid)
	flex-flow column
.section-modal
	display none
.section-modal-thnx
	font-family "Noto Sans"
	font-size 36px
	font-weight 400
	line-height 24px
	color black
.section-modal-img
	margin 50px 0
.section-modal-title
	color #293437
	font-family "Noto Sans"
	line-height 36px
	font-size 24px
	font-weight 700
.section-modal-text
	color #293437
	font-family "Noto Sans"
	line-height 36px
	font-size 22px
	font-weight 400
.section-modal-but
	margin-top 30px
	background maingreen
	color white
	font-family "Noto Sans"
	font-size 18px
	font-weight 700
	line-height 24px
	padding 10px 60px
	border-radius 5px
	&:hover
		cursor pointer